# --- OS X / SYSTEM ---
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
*.log
*.tmp
*.bak

# --- REACT NATIVE (iOS) ---
ios/build/
ios/Pods/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside

*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local


android/app/build/
android/.gradle/
android/build/
android/local.properties
android/*.keystore
!android/debug.keystore
android/*.bundle
android/*.apk
android/.cxx/
android/*.hprof
.idea/
*.iml


node_modules/
npm-debug.log
yarn-error.log
.expo/
dist/
web-build/
*.jsbundle






.metro-health-check*


/coverage


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
bin/
lib/
include/
share/
local/
pip-log.txt
db.sqlite3
db.sqlite3-journal
media/
static_root/

# --- CONFIG & SÉCURITÉ ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
.vscode/

# --- FASTLANE ---
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# --- RUBY / COCOAPODS ---
/vendor/bundle/